.modal__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  text-align: left;
  margin: 0 0 24px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  flex: 1;
  min-height: 0;
}

.modal__label:not(.modal__label_type_radio) {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 16px;
}

.modal__label_type_radio {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
}

.modal__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #000000;
  color: #000000;
  box-sizing: border-box;
  outline: none;
}

.modal__input::placeholder {
  color: #00000080; 
}


.modal__input.modal__input_error {
  border-bottom-color: #ff0000;
}

.modal__radio-buttons {
  border: none;
  padding: 0 0 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
  position: relative;
}

.modal__label_type_radio:last-child {
  margin-top: -1px;
}

.modal__legend {
  margin-bottom: 12px;
}

.modal__radio-input {
  margin: 0;
  cursor: pointer;
  accent-color: auto;
  appearance: auto;
}

.modal__submit {
  margin-top: auto;
  width: 124px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #d3d3d3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.modal__submit:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal__submit:not(:disabled):hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal__submit:disabled {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: not-allowed;
  opacity: 1;
}

.modal__error {
  position: absolute;
  left: 0;
  bottom: 0;
  color: red;
  font-size: 12px;
  line-height: 15px;
  height: 15px;
  margin: 0;
  visibility: hidden;
}

.modal__error:not(:empty) {
  visibility: visible;
}

.modal_type_login .modal__content_form {
  height: 304px;
  padding: 28px 28px 36px;
}

.modal_type_login .modal__title {
  margin-bottom: 24px;
}

.modal_type_login .modal__label {
  margin-bottom: 24px;
}

.modal_type_login .modal__error {
  margin-top: -8px;
  margin-bottom: 24px;
  color: #ff4d00;
  font-weight: 700;
  text-decoration: underline;
}

.modal_type_login .modal__submit {
  width: 86px;
  height: 36px;
  background: #0000004d;
  color: #ffffff;
}

.modal_type_login .modal__actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin-top: auto;
}

.modal_type_login .modal__switch button {
  background: none;
  border: none;
  padding: 0;
  color: #00000080;
  cursor: pointer;
}

.modal_type_login .modal__switch button:hover {
  text-decoration: underline;
}
