.item-card {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 323px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

.item-card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 2px 12px;
}

.item-card__image {
  width: 100%;
  height: 398px;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  display: block;
}

.item-card__image:hover {
  cursor: pointer;
}

.item-card__footer {
 padding-top: 12px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}