.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f3f3f3;
}

.page__content {
  flex: 1;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px 85px;
  box-sizing: border-box;
}
