.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f3f3f3;
}

.page__content {
  max-width: 1360px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
}
