.cards__list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 325px));
  gap: 20px;
  justify-content: center;
}

.cards__text {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #000000;
  margin: 40px 0 34px;
}

.main {
  margin-top: 28px;
  padding-bottom: 85px;
}
