.modal_type_register .modal__container {
  width: 496px;
  min-height: 456px;
  padding: 28px 28px 34px;
  box-sizing: border-box;

  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal_type_register .modal__form {
  display: grid;
  grid-template-columns: 86px auto;
  grid-auto-rows: auto;
  row-gap: 24px;
  column-gap: 16px;
}

.modal_type_register .modal__title {
  margin-bottom: 24px;
  color: #000000;
}

.modal_type_register .modal__label {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  color: #000000;
  margin: 0;
  padding: 0;
}

.modal_type_register .modal__label .modal__input {
  margin-top: 8px;
}

.modal_type_register .modal__input {
  width: 100%;
  margin-top: 0;
  border: none;
  border-bottom: 1px solid #000000;
  border-radius: 0;
  outline: none;
  background: transparent;
  color: #000000;
}

.modal_type_register .modal__input::placeholder {
  color: #00000080;
}

.modal_type_register .modal__input.error {
  color: #ff4d00;
  border-bottom: 1px solid #ff4d00;
}

.modal_type_register .modal__error {
  grid-column: 1 / -1;
  margin: 0;
  color: #ff4d00;
  text-decoration: underline;
  font-weight: 700;
}

.modal_type_register .modal__submit {
  grid-column: 1;
  width: 86px;
  height: 36px;
  border-radius: 4px;
  background: #000000;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-top: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  white-space: nowrap;
  justify-self: start;
}

.modal_type_register .modal__submit:disabled {
  background: #0000004d;
  opacity: 1;
  cursor: not-allowed;
}

.modal_type_register .modal__actions {
  grid-column: 1 / -1;
  margin-top: 6px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.modal_type_register .modal__switch button {
  background: none;
  border: none;
  padding: 0;
  color: #00000080;
  cursor: pointer;
}

.modal_type_register .modal__switch button:hover {
  text-decoration: underline;
}
